<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FirePit</title>
        <link rel="stylesheet" type="text/css" href="D:\New\static\CSS\style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <style type="text/css">
            div {
                text-align: center;
                color: white;
                margin-right: auto;
                margin-left: auto;
                background-color: burlywood;
            }

            body {
                background-image: url(https://cdn.mos.cms.futurecdn.net/Z7STxMEovJyL8GF45PviiR.jpg)
            }

        </style>
    </head>
    <body>
        <main>
            <div>
            <header>
                <h1>FirePit</h1>
            </header>

            <section>
            <h2>Welcome to FirePit</h2>
            </div>
            <form>
              <button type="button" onlick="alert('Play')">Play</button>
              <button type="button" onlick="alert('Exit')">Exit</button>
            </form>
            </section>
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>