<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FirePit</title>

    </head>
    <body>
        <main>
            <h1>FirePit</h1>
            <h2>Welcome to FirePit</h2>
            <img src="https://cdn.mos.cms.futurecdn.net/Z7STxMEovJyL8GF45PviiR.jpg" alt="Do Fear">
            <form>
              <button type="button" onlick="alert('Play')">Play</button>
              <button type="button" onlick="alert('Exit')">Exit</button>
            </form>
        </main>
    </body>
</html>